.welcome-screen {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #000;
}

#kaleidoscopeCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: crosshair;
}

.welcome-content {
  position: relative; /* To appear on top of the canvas */
  z-index: 1;
  max-width: 600px;
  text-align: center;
  color: rgba(255, 255, 255, 0.85);
  padding: 20px;
  text-shadow: 0 1px 10px rgba(0, 0, 0, 0.7);
  pointer-events: none; /* Allows clicks to go through to the canvas */
}

.welcome-title {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.welcome-content p {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.6;
}
.welcome-content p:last-child {
  margin-bottom: 0;
}
